<% @title = 'Activate your account' %>

<p>
  An email has been sent to you<br/>which contains a link<br/>which will allow you to activate your account.
</p>
<p>
  <br/><br/><%= link_to 'Home', base_url %>
</p>
